/* Defining variables */
:root {
    --ButtonClick:rgb(70, 69, 69);
    --ButtonNotClick: black;
    --ButtonColor: rgb(252, 250, 250);
    --BorderColor: rgb(214, 214, 214);
    --FooterColor: rgb(255, 244, 245);
}

/* Linking fonts */
@font-face{
    font-family: Raleway;
    src: url(//Ist-Assessment_Aditi/Fonts/Raleway-Thin.ttf);
}
@font-face {
    font-family: Satine;
    src: url(//Ist-Assessment_Aditi/Fonts/Satine.ttf);
}
@font-face{
    font-family: Shoreline;
    src: url(//Ist-Assessment_Aditi/Fonts/Shorelines\ Script\ Bold.otf);
}
@font-face{
    font-family: Bintara;
    src: url(//Ist-Assessment_Aditi/Fonts/Bintari.ttf);
}
@font-face{
    font-family: LemonMilk;
    src: url(//Ist-Assessment_Aditi/Fonts/LEMONMILK-Regular.otf);
}
@font-face{
    font-family: Elegant;
    src: url(//Ist-Assessment_Aditi/Fonts/Elegant\ Signature.ttf);
}
@font-face{
    font-family: CanvasR;
    src: url(//Ist-Assessment_Aditi/Fonts/MADE\ Canvas\ Regular\ PERSONAL\ USE.otf);
}
@font-face{
    font-family: Bebas;
    src: url(//Ist-Assessment_Aditi/Fonts/Bebas-Regular.ttf);
}
@font-face{
    font-family: TypoL;
    src: url(//Ist-Assessment_Aditi/Fonts/Typo\ Formal\ Light\ Demo.otf);
}
@font-face{
    font-family: TypoR;
    src: url(//Ist-Assessment_Aditi/Fonts/Typo\ Formal\ Regular\ Demo.otf);
}
@font-face{
    font-family: RalewayR;
    src: url(//Ist-Assessment_Aditi/Fonts/Raleway-Regular.ttf);
}

/* Setting font of body (from google fonts, see index.html) */
body {
    margin: 0;
    font-family: Raleway;
}

/* Formatting links */
a{
    text-decoration: none;
    color: black;
}

/* Formatting images */
img{
    width: 280px;
    height: 370px;
    object-fit: cover;
    object-position: center;
}

/* Grid for shop page */
.myWrapperShop{
    display: grid;
    row-gap: 4vh;
    column-gap: 4vw;
    grid-template-columns: 30.66vw 30.66vw 30.66vw;
    grid-template-rows: 100vh 10vh 70vh 15vh;
    grid-template-areas: "header header header"
                            "col col col"
                            "classic contemp wedding"
                             "footer footer footer"   
                                       
}

/* Shop header */
.myHeader {
    grid-area: header;
    position: relative;
    background-image: url(//Ist-Assessment_Aditi/Images/lisa-verena-pape-GpDoS0dh43o-unsplash.png);
    background-position: center;
    background-size: cover;
    padding-top: 31vh;
    z-index: -1;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1vh 99vh;
    grid-template-areas: "top1"
                         "header"
}

/* Formatting heading text for shop page */
.myTopHeader {
    grid-area: header;
    padding-left: 3vw;
    margin-top: 0;
    font-size: 220px;
    font-family: Elegant;
}

/* Includes dropdown menu and brand name */
.myBanner {
    grid-area: top1;
}

/* Formats "Bloom" text */
.myBanner1{
    position: absolute;
    text-align: center;
    left: 47vw;
    top: 2vh;
    font-family: CanvasR;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: auto;
    color: var(--ButtonNotClick);
    display: block;
}

/* Formats drowpdown position off hover */
.myBanner2{
    position: absolute;
    top: 0;
    left: 94vw;
    display: inline-block;
    z-index: 1;
    border: none;
}

/* Formats "Shop" text of dropdown menu */
.myBtn{
    color: black;
    padding: 3px;
    margin-top: 2.5vh;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-family: CanvasR;
    position: relative;
}

/* Formats link on "Shop" text, allowing the user to click on it */
.myShopLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting position of dropdown menu on hover*/
.myDropdown{
    position: relative;
    display: inline-block;
}

/* Formatting dropdown box */
.myDropdownContent{
    display: none;
    position: absolute;
    min-width: 160px;
    color: black;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(175, 173, 173, 0.952);
    z-index: 1;
}

/* Formatting links in drowpdown box */
.myDropdownContent a{
    color: black;
    padding: 5px 5px;
    display: block;
}

/* Changing background colour of links on hover */
.myDropdownContent a:hover{
    background-color: rgb(247, 244, 244);
}

/* Formatting surrounding content in dropdown box*/
.myDropdown:hover .myDropdownContent{
    display: block;
    padding: 10px 9px;
}

/* Adding an underline on "Shop" text on hover along with other formatting */
.myDropdown:hover .myBtn{
    background-color: transparent;
    border-bottom: 2px solid;
    margin-top: 2.5vh;
    padding: 3px;
    margin-bottom: 0px;
}

/* Assigning grid area to "collections" text */
.myCollection{
    grid-area: col;
    margin-left: 8vw;
    font-family: Elegant;
    font-size: 30px;
}

/* Creating grid for classic collection section */
.myClassic{
    grid-area: classic;
    padding-top: 4vh;
    padding-left: 8vw;
    padding-right: 4vw;
    display: grid;
    row-gap: 1vh;
    column-gap: 4vw;
    grid-template-columns: 15.66vw;
    grid-template-rows: 2vh 45vh 5vh 1vh;
    grid-template-areas: "ClHeader"
                        "ClImage"
                        "ClInfo"
                        "ClBtn"
}

/* Formatting "classic" header */
.ClHeader{
    grid-area: ClHeader;
    font-size: 20px;
    font-family: CanvasR;
}

/* Formatting image */
.ClImage{
    grid-area: ClImage;
    margin-top: 1vh;
    background-image: url(//Ist-Assessment_Aditi/Images/anastasia-lysiak-mba39OxwVJk-unsplash.jpg);
    background-size: cover;
}

/* Formatting button */
.ClBtn {
    grid-area: ClBtn;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 15.66vw;
    height: 25px;
    border: 1px solid;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    line-height: 25px;
}

.ClBtn:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkClBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting text in section */
.ClInfo{
    grid-area: ClInfo;
   text-align: left;
   font-size: 17px;
}

/* Formatting contemporary section like classic section */
.myContemp{
    grid-area: contemp;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    row-gap: 1vh;
    column-gap: 4vw;
    grid-template-columns: 15.66vw;
    grid-template-rows: 2vh 45vh 5vh 1vh;
    grid-template-areas: "CoHeader"
                        "CoImage"
                        "CoInfo"
                        "CoBtn"
}

.CoHeader{
    grid-area: CoHeader;
    font-size: 20px;
    font-family: CanvasR;
}

.CoImage{
    grid-area: CoImage;
    margin-top: 1vh;
    background-size: cover;
    background-image: url(//Ist-Assessment_Aditi/Images/olga-drach-xG-s6aCZxpw-unsplash.jpg);
    background-position: center;
}

.CoBtn {
    grid-area: CoBtn;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 15.66vw;
    height: 25px;
    border: 1px solid;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    line-height: 25px;
}

.CoBtn:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkCoBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.CoInfo{
    grid-area: CoInfo;
}

/* Formatting wedding section like classic and contemporary collections */
.myWedding{
    grid-area: wedding;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 8vw;
    display: grid;
    row-gap: 1vh;
    column-gap: 4vw;
    grid-template-columns: 15.66vw;
    grid-template-rows: 2vh 45vh 5vh 1vh;
    grid-template-areas: "WedHeader"
                        "WedImage"
                        "WedInfo"
                        "WedBtn"
}

.WedHeader{
    grid-area: WedHeader;
    font-size: 20px;
    font-family: CanvasR;
}

.WedImage{
    grid-area: WedImage;
    margin-top: 1vh;
    background-size: cover;
    background-image: url(//Ist-Assessment_Aditi/Images/thomas-ae-295NLwGdrKM-unsplash.jpg);
}

.WedBtn {
    grid-area: WedBtn;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 15.66vw;
    height: 25px;
    border: 1px solid;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    line-height: 25px;
}

.WedBtn:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkWedBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.WedInfo{
    grid-area: WedInfo;
}

/* Formatting grid for all collection1 (classic collection) */
.myWrapperCollection1{
    display: grid;
    row-gap: 4vh;
    grid-template-columns: 100vw;
    grid-template-rows: 4vh 50vh 3vh 130vh 15vh;
    grid-template-areas: "top1"
                        "colclass"
                        "sortby"
                         "items"
                        "footer"   
}

/* Formatting grid for collections2 and 3 (contemporary and wedding collections) */
.myWrapperCollection2{
    display: grid;
    row-gap: 4vh;
    grid-template-columns: 100vw;
    grid-template-rows: 4vh 50vh 3vh 125vh 15vh;
    grid-template-areas: "top1"
                        "colclass"
                        "sortby"
                         "items"
                        "footer"   
}

/* Formatting image and header for classic collection */
.myClassicMain{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    background-image: url(//Ist-Assessment_Aditi/Images/Flower\ edited.png);
    background-size: cover;
    background-position: center;
}

/* Formatting image and header for contemporary collection */
.myContempMain{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    background-image: url(//Ist-Assessment_Aditi/Images/the-creative-exchange-d2zvqp3fpro-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* Formatting image and header for wedding collection */
.myWeddingMain{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    background-image: url(//Ist-Assessment_Aditi/Images/seif-eddin-khayat-59K3tJ_VwAw-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* Formatting text of all collections */
.myClassicHeaderCol1{
    grid-area: colclass;
    margin-top: 18vh;
    margin-left: 2vw;
    font-family: LemonMilk;
    font-size: 34px;
    line-height: 9vh;
}

/* Sort-by dropdown menu for all collections */
.mySortby{
    grid-area: sortby;
}

#myColShop{
    margin-left: 3vw;
    font-family: elegant;
    font-size: 50px;
    line-height: 3vh;
}

.mySort{
    margin-left: 84vw;
    float: left;
    font-family: CanvasR;
    position: absolute;
    top: 62.5vh;
}

/* Formats drowpdown position off hover */
.myBanner2Coll{
    position: absolute;
    top: 0;
    left: 91vw;
    z-index: 1;
    border: none;
}

/* Formats text */
.myBtnColl{
    color: black;
    padding-left: 3px;
    padding-bottom: 3px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-family: CanvasR;
    position: relative;
}

/* Formatting position of dropdown menu on hover*/
.myDropdownColl{
    position: relative;
    display: inline-block;
}

/* Formatting dropdown box */
.myDropdownContentColl{
    display: none;
    position: absolute;
    min-width: 160px;
    margin-right: 20px;
    color: black;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(175, 173, 173, 0.952);
    z-index: 1;
}

/* Formatting links in drowpdown box */
.myDropdownContentColl a{
    color: black;
    padding: 5px 5px;
    display: block;
}
/* Changing background colour of links on hover */
.myDropdownContentColl a:hover{
    background-color: rgb(247, 244, 244);
}
/* Formatting surrounding content in dropdown box*/
.myDropdownColl:hover .myDropdownContentColl{
    display: block;
    padding: 10px 9px;
}
/* Adding an underline on text on hover along with other formatting */
.myDropdownColl:hover .myBtnColl{
    background-color: transparent;
    border-bottom: 2px solid;
    padding-left: 3px;
    padding-bottom: 3px;
    margin-right: 20px;
    margin-bottom: 0px;
}

/* Formats position of table */
.myItems{
    grid-area: items;
}

/* Hides responsive version of table */
.myItemsResponsive{
    display: none;
}

/* Formats table */
table {
    width: 100%;
}

th{
    text-align: left;
    vertical-align: top;
}

td{
    text-align: center;
    vertical-align: top;
}

.myItemName{
    padding-left: 3vw;
}

.myPrice{
    text-align: left;
    padding-left: 3vw;
    padding-bottom: 7vh;
}

.myImageFade{
    opacity: 100%;
}

.myImageFade:hover {
    opacity: 75%;
    transition: 1s;
}

/* Formatting all products using a grid */
.myWrapperPinkBouquet{
    display: grid;
    row-gap: 8vh;
    column-gap: 4vw;
    grid-template-columns: 44vw 52vw;
    grid-template-rows: 9vh 1vw 4vh 8vh 3vh 40vh 5vh 3vh 40vh 15vh;
    grid-template-areas: "top1 top1"
                        "link link"
                        "imgpink pinksubhead"
                        "imgpink pinkprice"
                        "imgpink pinkbtn"
                        "imgpink pinkdetails"
                        ". ."
                        "pinksubheadprod pinksubheadprod"
                        "pinktable pinktable"
                        "footer footer"
}

.myLinks{
    grid-area: link;
    margin-left: 8vw;
}

/* Formatting image position */
.myImgPink{
    grid-area: imgpink;
    margin-left: 8vw;
}

/* Formatting size of image */
.myPinkImg{
    width: 36vw;
    height: 72vh;
}

/* Formatting product name */
.myPinkSubhead{
    grid-area: pinksubhead;
    font-size: 70px;
    font-family: Bebas;
}

/* Formatting price text */
.myPinkPrice{
    grid-area: pinkprice;
    font-family: RalewayR;
    padding-top: 4vh;
    font-size: 18px;
}

/* Formatting "in stock" text */
.myStock{
    padding-top: 3vh;
    font-family: RalewayR;
    color: rgb(83, 131, 12);
}

/* Formatting position of button */
.PinkBtn{
    grid-area: pinkbtn;
}

/* Formatting button */
.ContactBtn {
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 15.66vw;
    height: 25px;
    border: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    line-height: 25px;
}

.ContactBtn:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkContactBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting text */
.myPinkDetails{
    grid-area: pinkdetails;
    margin-right: 14vw;
    font-size: 20px;
}

/* Formatting "related products" heading */
.mySubheadproduct{
    grid-area: pinksubheadprod;
    margin-left: 8vw;
    font-family: Elegant;
    font-size: 50px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* Adding borders to related products section */
.myRelatedProducts{
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    width: 100vw;
    height: 70vh;
}

/* Formatting related products table for all products */
.myPinkTable{
    grid-area: pinktable;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
}

/* Hiding responsive version of table */
.myPinkTableResponsive{
    display: none;
}

/* Formatting price in related products table for all product pages */
.myPricePink{
    text-align: left;
    padding-bottom: 7vh;
    padding-left: 1vw;
}

/* Formatting text in related products table for all product pages */
.myItemNamePink{
    text-align: left;
    vertical-align: top; 
    padding-left: 1vw;
}

/* Grid for contact page */
.myWrapperContact{
    display: grid;
    row-gap: 4vh;
    grid-template-columns: 63vw 37vw;
    grid-template-rows: 4vh 50vh 70vh 15vh;
    grid-template-areas: "top1 top1"
                        "colclass colclass"
                        "contactlist contactimg"
                        "footer footer"
}

/* Header for contact page */
.myContactMain{
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    background-image: url(//Ist-Assessment_Aditi/Images/nong-vang-SWzitzLDtX0-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* Formatting header of contact page*/
.myContactHeaderCol1{
    grid-area: colclass;
    margin-top: 18vh;
    margin-left: 2vw;
    font-family: LemonMilk;
    color: white;
    font-size: 38px;
    line-height: 9vh;
}

/* Formatting list and making vertical divide using border */
.myContactList{
    grid-area: contactlist;
    border-right: solid 2px;
    margin-left: 2vw;
    margin-top: 5vh;
    padding-right: 20vw;
    font-size: 20px;
}

/* Formatting text */
.myContactDetails{
    font-family: bebas;
    font-size: 70px;
    padding-bottom: 3vh;
}

/* Formatting "thank you..." text */
.myThankyou{
    padding-top: 3vh;
    font-family: elegant;
    font-size: 55px;
}

/* Formatting image to be a circle */
.myContactImg{
    grid-area: contactimg;
    background-image: url(//Ist-Assessment_Aditi/Images/edward-howell-dZ3YRMco4XU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 70%;
    height: 0;
    padding-top: 70%;
    margin-left: 7vw;
    margin-top: 5vh;
}

/* Grid for custom arrangement page */
.myWrapperCustom{
    display: grid;
    grid-template-columns: 49vw 2vw 49vw;
    grid-template-rows: 9vh 50vh 43vh 20vh 10vh 55vh 30vh 35vh 15vh;
    grid-template-areas: "top1 top1 top1"
                        "customheader customheader customheader"
                          "selectheader . presentimg1"
                          "presentation . presentimg1"
                          ". . ."
                          "presentimg2 . selectf"
                          "presentimg2 . selectf"
                          "ordercustom ordercustom ordercustom"
                          "footer footer footer"
}

/* Custom header image */
.myCustomMain{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    background-image: url(//Ist-Assessment_Aditi/Images/ellieelien-MVKYxT3VB3A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
}

/* Custom header text */
.myCustomHeader{
    grid-area: customheader;
    margin-top: 18vh;
    margin-left: 2vw;
    color: white;
    font-family: bebas;
    font-size: 100px;
    line-height: 9vh;
}

/* Formatting "Select your presentation" text */
.myPresentationHeading{
    grid-area: selectheader;
    margin-left: 4vw;
    margin-top: 8vh;
}

.PresentationS1{
    font-family: elegant;
    font-size: 90px;
}

.PresentationS2{
    font-family: Bintara;
    font-size: 70px;
}

/* Formatting text in presentation section */
.myPresentationText{
    margin-top: 6vh;
    font-size: 20px;
}

/* Positioning div element */
.myPresentation{
    grid-area: presentation;
}

/* Formatting div element to look like a button */
.presentationSelector{
    background-color: white;
    color: black;
    text-align: center;
    width: 15.66vw;
    height: 25px;
    border: black 1px solid;
    margin: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    line-height: 25px;
    float: left;
    cursor: pointer;
}

/* Class for div element when clicked */
.selectedOne{
    background-color: black;
    color: white;
}

/* Image formatting */
.myPresentImg1{
    grid-area: presentimg1;
    background-image: url(//Ist-Assessment_Aditi/Images/leonardo-wong-7pGehyH7o64-unsplash.jpg);
    background-size: cover;
    margin-top: 8vh;
}

/* Grid for "Select four different flowers" section */
.mySelectf{
    grid-area: selectf;
    display: grid;
    grid-template-columns: 49vw;
    grid-template-rows: 10vh 70vh;
    grid-template-areas: "headercustom"
                         "tablecustom"
}

/* Text "Select four different flowers" */
.mySelectHeader{
    grid-area: headercustom;
    font-size: 60px;
    font-family: elegant;
}

/* Formatting text which appears on hover */
.mySelectedFlowerName{
    float: right;
    font-size: 15px;
    margin-right: 2vw;
    font-family: Raleway;
    margin-top: 4vh;
    color: green;
}

/* Table for different flowers customised */
.myTableCustom{
    width: 100%;
    height: 75vh;
    grid-area: tablecustom;
}

/* Class for div element surrounding flowers */
.flowerCircle{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

/* Highlight around flower for when it is clicked */
.flowerHighlight{
    border: green solid 5px;
}

/* Formatting flower images to be circle */
.flowerImage {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    vertical-align: middle;
}

/* Second large image on page */
.myPresentImg2{
    grid-area: presentimg2;
    background-image: url(//Ist-Assessment_Aditi/Images/markus-clemens-mibjbNoS1XA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* Grid for 'order' section */
.myOrderMain{
    grid-area: ordercustom;
    border-top: var(--BorderColor) solid 2px;
    border-bottom: var(--BorderColor) solid 2px;
    padding-left: 2vw;
    margin-top: 1vh;
    padding-top: 6vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 10vh 8vh;
    grid-template-areas: "orderheader"
                         "order"
                         "orderdetails"
}

/* Formatting "Your Order" text */
.myOrderHeader{
    grid-area: orderheader;
    font-family: bebas;
    font-size: 40px;
}

/* Formatting text */
.myOrder{
    grid-area: order;
    margin-top: 2.5vh;
    font-family: CanvasR;
    font-size: 25px;
}

/* Assigning a position for text */
.myOrderDetails{
    grid-area: orderdetails;
}

/* Adding an underline to show text is a link */
.myCustomLink{
    text-decoration: underline;
}

/* Grid for contact page */
.myWrapperStoryboard{
    display: grid;
    row-gap: 4vh;
    grid-template-columns: 100vw;
    grid-template-rows: 4vh 50vh 20vh 15vh;
    grid-template-areas: "top1"
                        "storyboardheader"
                        "storyboardImg1"
                        "footer"
}

/* Header for storyboard page */
.myStoryboardMain{
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--BorderColor) 1px solid;
    border-bottom: var(--BorderColor) 1px solid;
    background-image: url(//Ist-Assessment_Aditi/Images/saketh-garuda-ngu4VY2hI48-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* Formatting header of contact page*/
.myStoryboardHeader{
    grid-area: storyboardheader;
    margin-top: 18vh;
    margin-left: 2vw;
    font-family: LemonMilk;
    color: black;
    font-size: 38px;
    line-height: 9vh;
}

.myStoryboardImage{
    grid-area: storyboardImg1;
    margin-top: 5vh;
    margin-left: 2vw;
}

.myStoryboardLink{
    text-decoration: underline;
}

/* Formatting footer */
.myFooter {
    grid-area: footer;
    background-color: var(--FooterColor);
    padding-top: 4vh;
    margin-bottom: 0px;
}

.myBloomFooter{
    font-family: CanvasR;
    font-size: 30px;
    margin-left: 46vw;
}

.myContactFooter{
    float: right;
    margin-right: 4vw;
    margin-top: 1vh;
    color: black;
}

.myContactFooter:hover {
    background-color: rgb(207, 207, 207);
    transition: 1s;
}

.myStoryboardFooter{
    float: right;
    margin-right: 4vw;
    margin-top: 1vh;
    color: black;
}

.myStoryboardFooter:hover {
    background-color: rgb(207, 207, 207);
    transition: 1s;
}

.myCopyright{
    margin-left: 43.5vw;
}

/* Formatting responsiveness */
@media (max-width: 1125px)
{
   /* Formatting body */
    body {
        margin: 0;
        font-family: Raleway;
    }

    /* Formatting links */
    a{
        text-decoration: none;
        color: black;
    }

    /* Formatting images */
    img{
        width: 280px;
        height: 370px;
        object-fit: cover;
        object-position: center;
    }

    /* Formatting grid for shop */
    .myWrapperShop{
        display: grid;
        row-gap: 4vh;
        grid-template-columns: 100vw;
        grid-template-rows: 100vh 10vh 80vh 80vh 80vh 15vh;
        grid-template-areas: "header"
                            "col"
                            "classic"
                            "contemp"
                            "wedding"
                             "footer"   
                                       
    }
    /* Formatting header */
    .myHeader {
        grid-area: header;
        position: relative;
        background-image: url(//Ist-Assessment_Aditi/Images/lisa-verena-pape-GpDoS0dh43o-unsplash.png);
        background-position: center;
        background-size: cover;
        padding-top: 31vh;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1vh 99vh;
        grid-template-areas: "top1"
                            "header"
    }

    /* Includes dropdown menu and brand name */
    .myBanner {
        grid-area: top1;
    }

    /* Formats "Bloom" text */
    .myBanner1{
        position: absolute;
        text-align: center;
        left: 47vw;
        top: 2vh;
        font-family: CanvasR;
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        width: auto;
        margin: auto;
        color: var(--ButtonNotClick);
        display: block;
    }

    /* Formatting heading text */
    .myTopHeader {
        grid-area: header;
        padding-left: 3vw;
        margin-top: 0;
        font-size: 220px;
        font-family: Elegant;
    }

    /* Formats drowpdown position off hover */
    .myBanner2{
        position: absolute;
        top: 0;
        left: 91vw;
        display: inline-block;
        z-index: 1;
        border: none;
    }

    /* Formats "Shop" text */
    .myBtn{
        color: black;
        padding: 3px;
        margin-top: 2.5vh;
        border: none;
        background-color: transparent;
        font-size: 15px;
        font-family: CanvasR;
        position: relative;
    }

    /* Formats link on "Shop" text, allowing the user to click on it */
    .myShopLink {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Formatting position of dropdown menu on hover*/
    .myDropdown{
        position: relative;
        display: inline-block;
    }

    /* Formatting dropdown box */
    .myDropdownContent{
        display: none;
        position: absolute;
        min-width: 160px;
        color: black;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(175, 173, 173, 0.952);
        z-index: 1;
    }

    /* Formatting links in drowpdown box */
    .myDropdownContent a{
        color: black;
        padding: 5px 5px;
        display: block;
    }
    
    /* Changing background colour of links on hover */
    .myDropdownContent a:hover{
    background-color: rgb(247, 244, 244);
    }
    
    /* Formatting surrounding content in dropdown box*/
    .myDropdown:hover .myDropdownContent{
        display: block;
        padding: 10px 9px;
    }

    /* Adding an underline on "Shop" text on hover along with other formatting */
    .myDropdown:hover .myBtn{
        background-color: transparent;
        border-bottom: 2px solid;
        margin-top: 2.5vh;
        padding: 3px;
        margin-bottom: 0px;
    }

    /* Formatting "collections" text */
    .myCollection{
        grid-area: col;
        font-family: Elegant;
        font-size: 30px;
        margin-left: 17vw;
    }

    /* Using grid to format classic section */
    .myClassic{
        grid-area: classic;
        padding-top: 4vh;
        display: grid;
        row-gap: 1vh;
        grid-template-columns: 90vw;
        grid-template-rows: 2vh 60vh 5vh 1vh;
        grid-template-areas: "ClHeader"
                            "ClImage"
                            "ClInfo"
                            "ClBtn"
    }

    .ClHeader{
        grid-area: ClHeader;
        font-size: 20px;
        font-family: CanvasR;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .ClImage{
        grid-area: ClImage;
        margin-top: 1vh;
        background-image: url(//Ist-Assessment_Aditi/Images/anastasia-lysiak-mba39OxwVJk-unsplash.jpg);
        background-size: cover;
        margin-left: 10vw;
        margin-right: 14vw;
    }
    
    .ClBtn {
        grid-area: ClBtn;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 40.66vw;
        height: 25px;
        border: 1px solid;
        margin: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        line-height: 25px;
    }

    .ClBtn:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkClBtn {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .ClInfo{
        grid-area: ClInfo;
        text-align: left;
        font-size: 17px;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    /* Formatting contemporary section */
    .myContemp{
        grid-area: contemp;
        padding-top: 4vh;
        display: grid;
        row-gap: 1vh;
        grid-template-columns: 90vw;
        grid-template-rows: 2vh 60vh 5vh 1vh;
        grid-template-areas: "CoHeader"
                            "CoImage"
                            "CoInfo"
                            "CoBtn"
    }

    .CoHeader{
        grid-area: CoHeader;
        font-size: 20px;
        font-family: CanvasR;
        margin-left: 14vw;
        margin-right: 10vw;
    }

    .CoImage{
        grid-area: CoImage;
        margin-top: 1vh;
        background-size: cover;
        background-image: url(//Ist-Assessment_Aditi/Images/olga-drach-xG-s6aCZxpw-unsplash.jpg);
        background-position: center;
        margin-left: 14vw;
        margin-right: 10vw;
    }

    .CoBtn {
        grid-area: CoBtn;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 40.66vw;
        height: 25px;
        border: 1px solid;
        margin: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        line-height: 25px;
    }

    .CoBtn:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkCoBtn {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .CoInfo{
        grid-area: CoInfo;
        margin-left: 14vw;
        margin-right: 10vw;
    }

    /* Formatting wedding section */
    .myWedding{
        grid-area: wedding;
        padding-top: 4vh;
        display: grid;
        row-gap: 1vh;
        grid-template-columns: 90vw;
        grid-template-rows: 2vh 60vh 5vh 1vh;
        grid-template-areas: "WedHeader"
                            "WedImage"
                            "WedInfo"
                            "WedBtn"
    }


    .WedHeader{
        grid-area: WedHeader;
        font-size: 20px;
        font-family: CanvasR;
        margin-left: 14vw;
        margin-right: 10vw;
    }

    .WedImage{
        grid-area: WedImage;
        margin-top: 1vh;
        background-size: cover;
        background-image: url(//Ist-Assessment_Aditi/Images/thomas-ae-295NLwGdrKM-unsplash.jpg);
        margin-left: 14vw;
        margin-right: 10vw;
    }

    .WedBtn {
        grid-area: WedBtn;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 40.66vw;
        height: 25px;
        border: 1px solid;
        margin: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        line-height: 25px;
    }

    .WedBtn:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkWedBtn {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .WedInfo{
        grid-area: WedInfo;
        margin-left: 14vw;
        margin-right: 10vw;
    }

    /* Grid layout for all collection pages */
    .myWrapperCollection1{
        display: grid;
        row-gap: 4vh;
        grid-template-columns: 100vw;
        grid-template-rows: 4vh 50vh 3vh 260vh 15vh;
        grid-template-areas: "top1"
                            "colclass"
                            "sortby"
                            "items"
                            "footer"   
    }
    
    /* Formatting grid for collections2 and 3 (contemporary and wedding collections) */
    .myWrapperCollection2{
    display: grid;
    row-gap: 4vh;
    grid-template-columns: 100vw;
    grid-template-rows: 4vh 50vh 3vh 200vh 15vh;
    grid-template-areas: "top1"
                        "colclass"
                        "sortby"
                         "items"
                        "footer"   
}
    /* Header of classic collection */
    .myClassicMain{
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: var(--BorderColor) 1px solid;
        border-bottom: var(--BorderColor) 1px solid;
        background-image: url(//Ist-Assessment_Aditi/Images/Flower\ edited.png);
        background-size: cover;
        background-position: center;
    }

     /* Header of contemporary collection */
    .myContempMain{
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: var(--BorderColor) 1px solid;
        border-bottom: var(--BorderColor) 1px solid;
        background-image: url(//Ist-Assessment_Aditi/Images/the-creative-exchange-d2zvqp3fpro-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }

    /* Header of wedding collection */
    .myWeddingMain{
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: var(--BorderColor) 1px solid;
        border-bottom: var(--BorderColor) 1px solid;
        background-image: url(//Ist-Assessment_Aditi/Images/seif-eddin-khayat-59K3tJ_VwAw-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }

    /* Header of all collection pages */
    .myClassicHeaderCol1{
        grid-area: colclass;
        margin-top: 18vh;
        margin-left: 2vw;
        font-family: LemonMilk;
        font-size: 34px;
        line-height: 9vh;
    }

    /* Sort by dropdown for all collection pages */
    .mySortby{
        grid-area: sortby;
    }
    
    #myColShop{
        margin-left: 3vw;
        font-family: elegant;
        font-size: 50px;
        line-height: 3vh;
    }

    .mySort{
        margin-left: 65%;
        float: left;
        font-family: CanvasR;
        position: absolute;
        top: 62.5vh;
    }

    .myBanner2Coll{
        position: absolute;
        top: 0;
        left: 91vw;
        z-index: 1;
        border: none;
    }


    .myBtnColl{
        color: black;
        padding-left: 3px;
        padding-bottom: 3px;
        margin-right: 20px;
        border: none;
        background-color: transparent;
        font-size: 15px;
        font-family: CanvasR;
        position: relative;
    }

    .myDropdownColl{
        position: relative;
        display: inline-block;
    }

    .myDropdownContentColl{
        display: none;
        position: absolute;
        min-width: 160px;
        margin-right: 20px;
        color: black;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(175, 173, 173, 0.952);
        z-index: 1;
    }

    .myDropdownContentColl a{
        color: black;
        padding: 5px 5px;
        display: block;
    }

    .myDropdownContentColl a:hover{
        background-color: rgb(247, 244, 244);
    }

    .myDropdownColl:hover .myDropdownContentColl{
        display: block;
        padding: 10px 9px;
    }

    .myDropdownColl:hover .myBtnColl{
        background-color: transparent;
        border-bottom: 2px solid;
        padding-left: 3px;
        padding-bottom: 3px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    /* Hiding non respoonsive table for collection pages */
    .myItems{
        grid-area: items;
        display: none;
    }

    /* Showing responsive table */
    .myItemsResponsive{
        grid-area: items;
        display: block;
    }

    /* Formatting table */
    table {
        width: 100%;
    }

    th{
        text-align: center;
        vertical-align: top;
    }

    td{
        text-align: center;
        vertical-align: top;
    }

    .myItemName{
    text-align: center;
    }

    .myPrice{
        text-align: center;
        padding-bottom: 7vh;
    }

    /* Setting original opacity to images off hover */
    .myImageFade{
        opacity: 100%;
    }

    /* Setting lower opacity to images on hover to give a 'fade' effect */
    .myImageFade:hover {
        opacity: 75%;
        transition: 1s;
    }

    /* Grid for all product pages */
    .myWrapperPinkBouquet{
        display: grid;
        row-gap: 8vh;
        column-gap: 4vw;
        grid-template-columns: 100vw;
        grid-template-rows: 9vh 1vw 30vh 8vh 3vh 15vh 5vh 3vh 25vh 15vh 42vh 15vh;
        grid-template-areas: "top1"
                            "link"
                            "imgpink"
                            "imgpink"
                            "imgpink"
                            "pinksubhead"
                            "pinkprice"
                            "pinkbtn"
                            "pinkdetails"
                            "pinksubheadprod"
                            "pinktable"
                            "footer"
    }

    .myLinks{
        grid-area: link;
        margin-left: 8vw;
    }

    /* Formatting image position and size */
    .myImgPink{
        grid-area: imgpink;
        margin-left: 8vw;
    }

    .myPinkImg{
        width: 84vw;
        height: 72vh;
    }

    /* Formatting prooduct name */
    .myPinkSubhead{
        grid-area: pinksubhead;
        font-size: 70px;
        font-family: Bebas;
        margin-left: 8vw;
    }

    /* Formatting price text */
    .myPinkPrice{
        grid-area: pinkprice;
        font-family: RalewayR;
        padding-top: 4vh;
        font-size: 18px;
        margin-left: 8vw;
    }

    /* Formatting "in stock" text */
    .myStock{
        padding-top: 3vh;
        font-family: RalewayR;
        color: rgb(83, 131, 12);
    }

    /* Formatting button */
    .PinkBtn{
        grid-area: pinkbtn;
        margin-left: 8vw;
        margin-top: 2vh;
    }

    .ContactBtn {
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 15.66vw;
        height: 25px;
        border: 1px solid;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        line-height: 25px;
    }

    .ContactBtn:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkContactBtn {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Formatting text */
    .myPinkDetails{
        grid-area: pinkdetails;
        margin-right: 14vw;
        font-size: 20px;
        margin-left: 8vw;
    }

    /* Formatting "related products" text */
    .mySubheadproduct{
        grid-area: pinksubheadprod;
        margin-left: 8vw;
        font-family: Elegant;
        font-size: 50px;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    /* Formatting 'non-responsive' (larger) version of table to not show up */
    .myPinkTable{
        display: none;
    }

    /* Formatting 'responsice' (smaller) version of table to show up */
    .myPinkTableResponsive{
        display: block;
    }

    /* Formatting price and item name text in 'relevant products' section */
    .myPricePink{
        text-align: left;
        padding-bottom: 7vh;
        padding-left: 1vw;
    }

    .myItemNamePink{
        text-align: left;
        vertical-align: top; 
        padding-left: 1vw;
    }

    /* Relevent prooducts section */
    .myRelatedProducts{
        border-top: var(--BorderColor) 1px solid;
        border-bottom: var(--BorderColor) 1px solid;
        width: 100vw;
        height: 70vh;
    }

    /* Grid for contact page */
    .myWrapperContact{
        display: grid;
        row-gap: 4vh;
        grid-template-columns: 100vw;
        grid-template-rows: 4vh 50vh 70vh 15vh;
        grid-template-areas: "top1"
                            "colclass"
                            "contactlist"
                            "footer"
    }

    /* Contact header */
    .myContactMain{
        width: 100vw;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: var(--BorderColor) 1px solid;
        border-bottom: var(--BorderColor) 1px solid;
        background-image: url(//Ist-Assessment_Aditi/Images/nong-vang-SWzitzLDtX0-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }

    /* Contact header text */
    .myContactHeaderCol1{
        grid-area: colclass;
        margin-top: 18vh;
        margin-left: 10vw;
        font-family: LemonMilk;
        color: white;
        font-size: 38px;
        line-height: 9vh;
    }

    /* Contact list formatting */
    .myContactList{
        grid-area: contactlist;
        border-right: solid 2px;
        margin-left: 10vw;
        margin-top: 5vh;
        padding-right: 20vw;
        font-size: 20px;
    }

    /* Formatting "Contact Details" text */
    .myContactDetails{
        font-family: bebas;
        font-size: 70px;
        padding-bottom: 3vh;
    }

    /* Formatting "thank you.." text */
    .myThankyou{
        padding-top: 3vh;
        font-family: elegant;
        font-size: 39px;
    }

    /* Formatting image to not display */
    .myContactImg{
        display: none;
    }

    /* Grid for custom arrangement page */
    .myWrapperCustom{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 9vh 50vh 35vh 10vh 10vh 55vh 30vh 35vh 15vh;
        grid-template-areas: "top1"
                            "customheader"
                            "selectheader"
                            "presentation"
                            "."
                            "selectf"
                            "selectf"
                            "ordercustom"
                            "footer"
    }

    /* Custom header image */
    .myCustomMain{
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: var(--BorderColor) 1px solid;
        border-bottom: var(--BorderColor) 1px solid;
        background-image: url(//Ist-Assessment_Aditi/Images/ellieelien-MVKYxT3VB3A-unsplash.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
    }

    /* Custom header text */
    .myCustomHeader{
        grid-area: customheader;
        margin-top: 18vh;
        margin-left: 2vw;
        color: white;
        font-family: bebas;
        font-size: 50px;
        line-height: 9vh;
    }

    /* Formatting "Select your presentation" text */
    .myPresentationHeading{
        grid-area: selectheader;
        margin-left: 4vw;
        margin-top: 8vh;
    }

    .PresentationS1{
        font-family: elegant;
        font-size: 70px;
    }

    .PresentationS2{
        font-family: Bintara;
        font-size: 50px;
    }

    /* Formatting text in presentation section */
    .myPresentationText{
        margin-top: 6vh;
        font-size: 20px;
    }

    /* Positioning div element */
    .myPresentation{
        grid-area: presentation;
        margin-left: 18vw;
    }

    /* Formatting div element to look like a button */
    .presentationSelector{
        background-color: white;
        color: black;
        text-align: center;
        width: 15.66vw;
        height: 25px;
        border: black 1px solid;
        margin: 50px;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        line-height: 25px;
        float: left;
        cursor: pointer;
    }

    /* Class for div element when clicked */
    .selectedOne{
        background-color: black;
        color: white;
    }

    /* Image formatted to not show up */
    .myPresentImg1{
        display: none;
    }

    /* Grid for "Select four different flowers" section */
    .mySelectf{
        grid-area: selectf;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 10vh 70vh;
        grid-template-areas: "headercustom"
                            "tablecustom"
    }

    /* Text "Select four different flowers" */
    .mySelectHeader{
        grid-area: headercustom;
        margin-left: 8vw;
        font-size: 40px;
        font-family: elegant;
    }

    /* Formatting text which appears on hover */
    .mySelectedFlowerName{
        float: right;
        font-size: 15px;
        margin-right: 2vw;
        font-family: Raleway;
        margin-top: 2vh;
        color: green;
    }

    /* Table for different flowers customised */
    .myTableCustom{
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
        height: 75vh;
        grid-area: tablecustom;
    }

    /* Class for div element surrounding flowers */
    .flowerCircle{
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    /* Highlight around flower for when it is clicked */
    .flowerHighlight{
        border: green solid 5px;
    }

    /* Formatting flower images to be circle */
    .flowerImage {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        vertical-align: middle;
    }

    /* Image formatted to not show up */
    .myPresentImg2{
        display: none;
    }

    /* Grid for 'order' section */
    .myOrderMain{
        grid-area: ordercustom;
        border-top: var(--BorderColor) solid 2px;
        border-bottom: var(--BorderColor) solid 2px;
        margin-top: 1vh;
        padding-top: 6vh;
        margin-bottom: 1vh;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 8vh 10vh 8vh;
        grid-template-areas: "orderheader"
                            "order"
                            "orderdetails"
    }

    /* Formatting "Your Order" text */
    .myOrderHeader{
        grid-area: orderheader;
        font-family: bebas;
        font-size: 40px;
    }

    /* Formatting text */
    .myOrder{
        grid-area: order;
        margin-top: 2.5vh;
        font-family: CanvasR;
        font-size: 15px;
    }

    /* Assigning a position for text */
    .myOrderDetails{
        grid-area: orderdetails;
        font-size: 15px;
    }

    /* Adding an underline to show text is a link */
    .myCustomLink{
        text-decoration: underline;
    }

    /* Formatting footer */
    .myFooter {
        grid-area: footer;
        background-color: var(--FooterColor);
        padding-top: 4vh;
        margin-bottom: 0px;
    }

    .myBloomFooter{
        font-family: CanvasR;
        font-size: 30px;
        margin-left: 46vw;
    }

    .myContactFooter{
        float: right;
        margin-right: 4vw;
        margin-top: 1vh;
        color: black;
    }

    .myContactFooter:hover {
        background-color: rgb(207, 207, 207);
        transition: 1s;
    }

    .myStoryboardFooter{
        float: right;
        margin-right: 4vw;
        margin-top: 1vh;
        color: black;
    }

    .myStoryboardFooter:hover {
        background-color: rgb(207, 207, 207);
        transition: 1s;
    }

    .myCopyright{
        margin-left: 43.5vw;
    }
}