/* Defining variables */
:root {
    --ButtonClick:rgb(70, 69, 69);
    --ButtonNotClick: black;
    --ButtonColor: rgb(250, 250, 250);
    --FooterColor: rgb(255, 244, 245);
}

/* Linking fonts */
@font-face {
    font-family: Choco;
    src: url(//Ist-Assessment_Aditi/Fonts/Choco\ Matcha.otf);
    font-family: Satine;
    src: url(//Ist-Assessment_Aditi/Fonts/Satine.ttf);
}
@font-face{
    font-family: Shoreline;
    src: url(//Ist-Assessment_Aditi/Fonts/Shorelines\ Script\ Bold.otf);
}
@font-face{
    font-family: Bintara;
    src: url(//Ist-Assessment_Aditi/Fonts/Bintari.ttf);
}
@font-face{
    font-family: LemonMilk;
    src: url(//Ist-Assessment_Aditi/Fonts/LEMONMILK-Regular.otf);
}
@font-face{
    font-family: Elegant;
    src: url(//Ist-Assessment_Aditi/Fonts/Elegant\ Signature.ttf);
}
@font-face{
    font-family: CanvasR;
    src: url(//Ist-Assessment_Aditi/Fonts/MADE\ Canvas\ Regular\ PERSONAL\ USE.otf);
}
@font-face{
    font-family: CanvasB;
    src: url(//Ist-Assessment_Aditi/Fonts/MADE\ Canvas\ Black\ PERSONAL\ USE.otf);
}
@font-face{
    font-family: Raleway;
    src: url(//Ist-Assessment_Aditi/Fonts/Raleway-Thin.ttf);
}

/* Formatting body */
body {
    margin: 0;
    font-family: Raleway;
    margin-bottom: 0px;
}

/* Formatting links */
a{
    text-decoration: none;
    color: black;
}

/* Setting grid for container surrounding all div elements in index */
.myWrapper {
    display: grid;
    row-gap: 4vh;
    column-gap: 4vw;
    grid-template-columns: 31vw 5vw 9vw 4vw 9vw 4vw 9vw 1vw;
    grid-template-rows: 100vh 30vh 57vh 3vh 0.5vh 18vh 4vh 9vh 7vh 7vh 7vh 9vh 60vh 15vh;
    grid-template-areas: "header header header header header header header header"
                            "image1 about about about about about about ."
                            "image1 image2 image2 image3 image3 image4 image4 ."
                            "image1 button1 button1 button2 button2 button3 button3 ."
                            "image1 . . . . . . ."
                            ". . . . . . . ." 
                             ". . images images images images images images"
                             "message message images images images images images images"
                             "message message images images images images images images" 
                             "message message images images images images images images" 
                             "button4 button4 images images images images images images" 
                             "button4 button4 images images images images images images"
                             "choose choose choose choose choose choose choose choose"
                             "footer footer footer footer footer footer footer footer"                                     
}

/* Header (top banner and heading text), organised using a grid*/
.myHeader {
    grid-area: header;
    position: relative;
    background-image: url(//Ist-Assessment_Aditi/Images/rikonavt-oEWdQsbRVZk-unsplash.jpg);
    background-size: cover;
    padding-top: 36vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1vh 99vh;
    grid-template-areas: "top1"
                         "header"
}

/* Includes dropdown menu and brand name */
.myBanner {
    grid-area: top1;
}

/* Formats "Bloom" text */
.myBanner1{
    position: absolute;
    text-align: center;
    left: 47vw;
    top: 2vh;
    font-family: CanvasR;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: auto;
    color: var(--ButtonNotClick);
    z-index: 1;
}

/* Formats drowpdown position off hover */
.myBanner2{
    position: absolute;
    top: 0;
    left: 94vw;
    display: inline-block;
    z-index: 1;
    border: none;
}

/* Formats "Shop" text */
.myBtn{
    color: black;
    padding: 3px;
    margin-top: 2.5vh;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-family: CanvasR;
    position: relative;
}

/* Formats link on "Shop" text, allowing the user to click on it to go to shop page*/
.myShopLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting position of dropdown menu on hover*/
.myDropdown{
    position: relative;
    display: inline-block;
}

/* Formatting dropdown box */
.myDropdownContent{
    display: none;
    position: absolute;
    min-width: 160px;
    color: black;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(175, 173, 173, 0.952);
    z-index: 1;
}

/* Formatting links in drowpdown box */
.myDropdownContent a{
    color: black;
    padding: 5px 5px;
    display: block;
}

/* Changing background colour of links on hover */
.myDropdownContent a:hover{
    background-color: rgb(247, 244, 244);
}

/* Formatting surrounding content in dropdown box*/
.myDropdown:hover .myDropdownContent{
    display: block;
    padding: 10px 9px;
}

/* Adding an underline on "Shop" text on hover along with other formatting */
.myDropdown:hover .myBtn{
    background-color: transparent;
    border-bottom: 2px solid;
    margin-top: 2.5vh;
    padding: 3px;
    margin-bottom: 0px;
}

/* Gradually changing the colour of "Bloom" text on hover */
.myBanner1:hover {
    color: var(--ButtonClick);
    transition: 1s;
}

/* Formatting heading text */
.myTopHeader {
    grid-area: header;
    padding-left: 1vw;
}

/* Formatting "experience" text */
.myExperienceHeader {
    font-size: 30px;
    text-align: left;
    font-family: Shoreline;
}

/* Formatting "Freshness" text */
.myFreshnessHeader {
    font-size: 15vh;
    text-align: left;
    font-family: Satine;
}

/* Assigning image grid area*/
.myImage1 {
    grid-area: image1;
    background-image: url(//Ist-Assessment_Aditi/Images/dong-cheng-krEjviclb4E-unsplash.jpg);
    background-size: cover;
}

/* Assigning grid area to header text*/
.myAbout {
    grid-area: about;
}

/* Formatting "discover" text */
#DiscoverHeader {
    font-family: Shoreline;
    padding-top: 3vh;
    font-size: 3vh;
    line-height: 4vh;
}

/* Formatting "PERFECT" text */
#StyleHeader {
    width: 250px;
    height: 60px;
    font-family: Bintara;
    font-size: 9vh;
    border-bottom: 4px solid;
    border-width: 1%;
}

/* Formatting images */
.myImage2 {
    grid-area: image2;
    background-image: url(//Ist-Assessment_Aditi/Images/kyle-austin-ZK8u4kJlcfU-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.myImage3 {
    grid-area: image3;
    background-image: url(//Ist-Assessment_Aditi/Images/girl-with-red-hat-xaJ-fvPZEsM-unsplash.jpg);
    background-size: cover;
}

.myImage4 {
    grid-area: image4;
    background-image: url(//Ist-Assessment_Aditi/Images/thomas-ae-uAzTOItl26I-unsplash.jpg);
    background-size: cover;
}

/* Formatting buttons on and off hover and links*/
.myButton1 {
    grid-area: button1;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 150px;
    height: 25px;
    border: 1px solid;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    line-height: 25px;
}

.myButton1:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkCollection1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.myButton2 {
    grid-area: button2;
    text-align: center;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 150px;
    height: 25px;
    border: 1px solid;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 25px;
    position: relative;
}

.myButton2:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkCollection2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.myButton3 {
    grid-area: button3;
    text-align: center;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 150px;
    height: 25px;
    border: 1px solid;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 25px;
    position: relative;
}

.myButton3:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myLinkCollection3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting custom arrangement section */
.myMessage {
    grid-area: message;
    font-family: CanvasR;
    margin-left: 2vw;
    margin-bottom: 0;
}

/* Formatting "create" text to have a different font and float left*/
.myMessageTop{
    font-family: Elegant;
    font-size: 120px;
    float: left;
    padding-right: 15px;
}

/* Formatting "your" text to be inline with "create" text */
.myMessageMiddle{
    font-size: 50px;
    padding-top: 50px;
}

/* Formatting "custom" text */
.myMessageBottom{
    font-size: 80px;
    margin-left: 7vw;
    padding-top: 35px;
    font-family: Bintara;
    border-bottom: 4px solid;
    width: 350px;
}

/* Formatting "arrangement today" text */
.myMessageDown{
    font-size: 40px;
    margin-left: 7vw;
}

/* Formatting button on and off hover and link*/
.myButton4 {
    grid-area: button4;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 150px;
    height: 30px;
    border: 1px solid;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 3px;
    line-height: 25px;
    position: relative;
}

.myButton4:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myCustom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting circular images using grid */
.myImages{
    grid-area: images;
    margin-top: 0vh;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: 30vw 1vw 25vw;
    grid-template-rows: 13vh 20vh 13vh;
    grid-template-areas: "image5 image5 image6"
                        "image5 image5 ."
                        "image5 image5 image7"
}

/* Formatting images to be circular and in position */
.myImage5 {
    grid-area: image5;
    background-image: url(//Ist-Assessment_Aditi/Images/insung-yoon-rNHCIV_hRp0-unsplash.jpg);
    background-size: cover;
    width: 60%;
    height: 0;
    padding-top: 60%;
    background-position: center;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: 8vw;
}

.myImage6 {
    grid-area: image6;
    background-image: url(//Ist-Assessment_Aditi/Images/roger-bradshaw-jzlevTsf1kE-unsplash.jpg);
    background-size: cover;
    width: 45%;
    height: 0;
    padding-top: 45%;
    background-position: center;
    border-radius: 50%;
}

.myImage7 {
    grid-area: image7;
    background-image: url(//Ist-Assessment_Aditi/Images/taisiia-shestopal-fJTu0shqQOo-unsplash.jpg);
    background-size: cover;
    width: 45%;
    height: 0;
    padding-top: 45%;
    background-position: center;
    border-radius: 50%;
}

/* Formatting 'why choose us' section */
.myWhyMain{
    grid-area: choose;
    border-top: rgb(228, 227, 227) solid 1px;
    border-bottom: rgb(228, 227, 227) solid 1px;
    margin-top: 4vh;
    padding-top: 4.5vh;
    display: grid;
    column-gap: 3vh;
    grid-template-columns: 47vw 53vw;
    grid-template-rows: 46vh 4vh;
    grid-template-areas: "main logo"
                         "button5 logo"
}

/* Formatting section to have a vertical divide */
.myChooseMain{
    grid-area: main;
    padding-top: 12vh;
    padding-left: 2vw;
    padding-right: 3vw;
    border-right:  solid 2px;
}

/* Formatting "why choose us" text */
.myChooseUs{
    font-family: Elegant;
    font-size: 50px;
    padding-bottom: 0.5vh;
}

/* Formatting text */
.myChooseDetails{
    padding-bottom: 1vh;
}

/* Formatting logo image */
.myLogo{
    grid-area: logo;
    background-image: url(//Ist-Assessment_Aditi/Images/Bloom\ logo.png);
    background-size: cover;
    margin-right: 6vw;
}

/* Formatting button on and off hover and link */
.myButton5 {
    grid-area: button5;
    background-color: var(--ButtonNotClick);
    color: var(--ButtonColor);
    text-align: center;
    width: 130px;
    height: 25px;
    border: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 25px;
    position: relative;
}

.myButton5:hover {
    background-color: var(--ButtonClick);
    border: 1px solid;
    transition: 1s;
}

.myButtonLink5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Formatting footer */
.myFooter {
    grid-area: footer;
    background-color: var(--FooterColor);
    padding-top: 4vh;
    margin-bottom: 0px;
}

.myBloomFooter{
    font-family: CanvasR;
    font-size: 30px;
    margin-left: 46vw;
}

.myContactFooter{
    float: right;
    margin-right: 4vw;
    margin-top: 1vh;
    color: black;
}

.myContactFooter:hover {
    background-color: rgb(207, 207, 207);
    transition: 1s;
}

.myStoryboardFooter{
    float: right;
    margin-right: 4vw;
    margin-top: 1vh;
    color: black;
}

.myStoryboardFooter:hover {
    background-color: rgb(207, 207, 207);
    transition: 1s;
}

.myCopyright{
    margin-left: 43.5vw;
}

/* Formatting to include responsiveness */
@media (max-width: 1125px)
{
    /* Formatting body */
    body {
        margin: 0;
        font-family: Raleway;
        margin-bottom: 0px;
    }

    /* Formatting links */
    a{
        text-decoration: none;
        color: black;
    }

    /* Setting grid */
    .myWrapper {
        display: grid;
        row-gap: 4vh;
        grid-template-columns: 58vw 38vw;
        grid-template-rows: 100vh 30vh 57vh 30vh 87vh 9vh 87vh 9vh 87vh 9vh 35vh 9vh 60vh 15vh;
        grid-template-areas: "header header"
                                "image1 image1"
                                "image1 image1"
                                "about about"
                                "image2 image2"
                                "button1 button1" 
                                 "image3 image3"
                                 "button2 button2"
                                 "image4 image4" 
                                 "button3 button3" 
                                 "message message" 
                                 "button4 button4"
                                 "choose choose"
                                 "footer footer"                                     
    }

    /* Organising header */
    .myHeader {
        grid-area: header;
        position: relative;
        background-image: url(//Ist-Assessment_Aditi/Images/rikonavt-oEWdQsbRVZk-unsplash.jpg);
        background-size: cover;
        padding-top: 36vh;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1vh 99vh;
        grid-template-areas: "top1"
                             "header"
    }

    /* Includes dropdown menu and brand name */
    .myBanner {
        grid-area: top1;
    }

    /* Formats "Bloom" text */
    .myBanner1{
        position: absolute;
        text-align: center;
        left: 47vw;
        top: 2vh;
        font-family: CanvasR;
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        width: auto;
        margin: auto;
        color: var(--ButtonNotClick);
        z-index: 1;
    }

    /* Formats drowpdown position off hover */
    .myBanner2{
        position: absolute;
        top: 0;
        left: 91vw;
        display: inline-block;
        z-index: 1;
        border: none;
    }

    /* Formats "Shop" text */
    .myBtn{
        color: black;
        padding: 3px;
        margin-top: 2.5vh;
        border: none;
        background-color: transparent;
        font-size: 15px;
        font-family: CanvasR;
        position: relative;
    }

    /* Formats link on "Shop" text, allowing the user to click on it */
    .myShopLink {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Formatting position of dropdown menu on hover*/
    .myDropdown{
        position: relative;
        display: inline-block;
    }

    /* Formatting dropdown box */
    .myDropdownContent{
        display: none;
        position: absolute;
        min-width: 160px;
        color: black;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(175, 173, 173, 0.952);
        z-index: 1;
    }

    /* Formatting links in drowpdown box */
    .myDropdownContent a{
        color: black;
        padding: 5px 5px;
        display: block;
    }

    /* Changing background colour of links on hover */
    .myDropdownContent a:hover{
        background-color: rgb(247, 244, 244);
    }

    /* Formatting surrounding content in dropdown box*/
    .myDropdown:hover .myDropdownContent{
        display: block;
        padding: 10px 9px;
    }

    /* Adding an underline on "Shop" text on hover along with other formatting */
    .myDropdown:hover .myBtn{
        background-color: transparent;
        border-bottom: 2px solid;
        margin-top: 2.5vh;
        padding: 3px;
        margin-bottom: 0px;
    }

    /* Gradually changing the colour of "Bloom" text on hover */
    .myBanner1:hover {
        color: var(--ButtonClick);
        transition: 1s;
    }

    /* Formatting heading text to have a padding and assigning a grid area */
    .myTopHeader {
        grid-area: header;
        padding-left: 1vw;
    }

    /* Formatting "experience" text */
    .myExperienceHeader {
        font-size: 30px;
        text-align: left;
        font-family: Shoreline;
    }

    /* Formatting "Freshness" text */
    .myFreshnessHeader {
        font-size: 12vh;
        text-align: left;
        font-family: Satine;
    }
    
    /* Assigning image grid area*/
    .myImage1 {
        grid-area: image1;
        background-image: url(//Ist-Assessment_Aditi/Images/dong-cheng-krEjviclb4E-unsplash.jpg);
        background-size: cover;
        margin-right: 9vw;
    }
    
    /* Assigning grid area to header text */
    .myAbout {
        grid-area: about;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    /* Formatting "discover" text */
    #DiscoverHeader {
        font-family: Shoreline;
        padding-top: 3vh;
        font-size: 3vh;
        line-height: 4vh;
    }

    /* Formatting "perfect" text */
    #StyleHeader {
        width: 250px;
        height: 60px;
        font-family: Bintara;
        font-size: 9vh;
        border-bottom: 4px solid;
        border-width: 1%;
    }

    /* Formatting images */
    .myImage2 {
        grid-area: image2;
        background-image: url(//Ist-Assessment_Aditi/Images/kyle-austin-ZK8u4kJlcfU-unsplash.jpg);
        background-size: cover;
        background-position: center;
        margin-left: 9vw;
        margin-right: 0vw;
        margin-top: 2vh;
    }

    .myImage3 {
        grid-area: image3;
        background-image: url(Images/girl-with-red-hat-xaJ-fvPZEsM-unsplash.jpg);
        background-size: cover;
        margin-left: 0vw;
        margin-right: 9vw;
    }

    .myImage4 {
        grid-area: image4;
        background-image: url(//Ist-Assessment_Aditi/Images/thomas-ae-uAzTOItl26I-unsplash.jpg);
        background-size: cover;
        margin-left: 9vw;
        margin-right: 0vw;
    }

    /* Formatting buttons */
    .myButton1 {
        grid-area: button1;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 150px;
        height: 25px;
        border: 1px solid;
        margin-left: 40vw;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        line-height: 25px;
    }

    .myButton1:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkCollection1 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .myButton2 {
        grid-area: button2;
        text-align: center;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 150px;
        height: 25px;
        border: 1px solid;
        margin-right: 40vw;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: 25px;
        position: relative;
    }

    .myButton2:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkCollection2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .myButton3 {
        grid-area: button3;
        text-align: center;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 150px;
        height: 25px;
        border: 1px solid;
        margin-left: 40vw;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: 25px;
        position: relative;
    }

    .myButton3:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myLinkCollection3 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Formatting custom arrangement section */
    .myMessage {
        grid-area: message;
        font-family: CanvasR;
        margin-left: 2vw;
        margin-bottom: 0;
    }

    .myMessageTop{
        font-family: Elegant;
        font-size: 120px;
        float: left;
        padding-right: 15px;
    }

    .myMessageMiddle{
        font-size: 50px;
        padding-top: 50px;
    }

    .myMessageBottom{
        font-size: 80px;
        margin-left: 7vw;
        padding-top: 35px;
        font-family: Bintara;
        border-bottom: 4px solid;
        width: 350px;
    }

    .myMessageDown{
        font-size: 40px;
        margin-left: 7vw;
    }
    
    /* Formatting button */
    .myButton4 {
        grid-area: button4;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 150px;
        height: 30px;
        border: 1px solid;
        margin-left: 27vw;
        padding-top: 8px;
        padding-bottom: 3px;
        margin-right: 15vw;
        margin-top: 5vh;
        line-height: 25px;
        position: relative;
    }

    .myButton4:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myCustom {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Formatting circular images to not show up */
    .myImages{
        display: none;
    }

    .myImage5 {
        display: none;
    }

    .myImage6 {
        display: none;
    }

    .myImage7 {
        display: none;
    }

    /* Formatting 'why choose us' section */
    .myWhyMain{
        grid-area: choose;
        border-top: rgb(228, 227, 227) solid 1px;
        border-bottom: rgb(228, 227, 227) solid 1px;
        margin-top: 4vh;
        padding-top: 4.5vh;
        display: grid;
        column-gap: 3vh;
        grid-template-columns: 100vw;
        grid-template-rows: 46vh 4vh;
        grid-template-areas: "main"
                             "button5"
    }

    .myChooseMain{
        grid-area: main;
        padding-top: 12vh;
        padding-left: 3vw;
        padding-right: 5vw;
        border-right:  solid 2px;
    }

    .myChooseUs{
        font-family: Elegant;
        font-size: 50px;
        padding-bottom: 0.5vh;
    }

    .myChooseDetails{
        padding-bottom: 1vh;
    }

    /* Formatting button */
    .myButton5 {
        grid-area: button5;
        background-color: var(--ButtonNotClick);
        color: var(--ButtonColor);
        text-align: center;
        width: 130px;
        height: 25px;
        border: 1px solid;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: 25px;
        position: relative;
    }

    .myButton5:hover {
        background-color: var(--ButtonClick);
        border: 1px solid;
        transition: 1s;
    }

    .myButtonLink5 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Formatting footer */
    .myFooter {
        grid-area: footer;
        background-color: var(--FooterColor);
        padding-top: 4vh;
        margin-bottom: 0px;
    }

    .myBloomFooter{
        font-family: CanvasR;
        font-size: 30px;
        margin-left: 46vw;
    }

    .myContactFooter{
        float: right;
        margin-right: 4vw;
        margin-top: 1vh;
        color: black;
    }

    .myContactFooter:hover {
        background-color: rgb(207, 207, 207);
        transition: 1s;
    }

    .myStoryboardFooter{
        float: right;
        margin-right: 4vw;
        margin-top: 1vh;
        color: black;
    }

    .myStoryboardFooter:hover {
        background-color: rgb(207, 207, 207);
        transition: 1s;
    }

    .myCopyright{
        margin-left: 43.5vw;
    }
}

